<header class="navbar navbar-expand-lg bg-body-tertiary" id="menu-principal">
    <div class="container">
        <a class="navbar-brand" href="https://datos.madrid.es/">Datos Madrid</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="meteo.html">Meteo</a>
                <a class="nav-link" href="index.html">Precipitaciones</a>
                <a class="nav-link" href="temperaturas.html">Temperaturas</a>
                <a class="nav-link" href="general.html">Particulas</a>
                <a class="nav-link" href="ozono.html">Ozono</a>
            </div>
        </div>
    </div>
</header>