
<div class="container">
    <a class="navbar-brand" href="https://datos.madrid.es/">Datos Madrid</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="index.html">Precipitaciones</a>
            <a class="nav-link" href="temperaturas.html">Temperaturas</a>
            <a class="nav-link" href="radiacion.html">Radiacion Solar</a>
            <a class="nav-link" href="humedad.html">Humedad</a>
            <a class="nav-link" href="ozono.html">Ozono</a>
            <a class="nav-link" href="nox.html">NOx</a>
            <a class="nav-link" href="pm10.html">PM10</a>
            <a class="nav-link" href="pm25.html">PM2.5</a>
        </div>
    </div>
</div>
